.inner-container {
  margin-left: 20px;
  margin-right: 20px;
  }
  .checked {
  color: orange;
  }
  .google-maps {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  }
  .info-main {
  display: inline-block;
  vertical-align: top;
  margin-right: 250px;
  }
  .info-main h1 {
  margin-bottom: 0px;
  }
  .website-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #000; /* Border color */
  border-radius: 0; /* Border radius */
  text-decoration: none;
  color: #000; /* Text color */
  }
  .section-divider {
  margin-top: 20px; /* Adjust margin top as needed */
  margin-bottom: 20px; /* Adjust margin bottom as needed */
  border-top: 1px solid #ccc; /* Set the border style, color, and thickness as desired */
  }
  
  .room-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns with equal width */
  grid-gap: 20px;
  }
  
  .room-item {
  /* Style for individual room item */
  display: flex;
  position: relative;
  background-color: #ffffff;
  max-width: 500px;
  height: 400px;
  border: 1px solid #ccc;
  flex-direction: column;
  padding-left: 10px;
  overflow: hidden;
  }
  
  .room-item img {
  height: 300px;
  width: 444px;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  }
  .room-item p {
  margin: 0;
  }
  .room-item h4 {
  margin-bottom: 0;
  }
  .room-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70%;
  }
  .hotel-info {
  display: flex;
  flex-direction: row;
  }
  
  /* Pagination component styles */
  
  .justify-content-center
  {
      display: flex;
      justify-content: right;
  }
  .pagination {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .pagination .page-link {
      color: #000; /* Set text color to black */
    }
  
    .pagination .numbered:hover{
      border-top: 2px solid rgb(26, 25, 25);
      border-bottom: 2px solid rgb(9, 9, 9);
    }
    
    .pagination .page-item.disabled .page-link {
      cursor: not-allowed;
    }
    
    .pagination .page-item.active .page-link {
      color: orange;
    }
    
    .pagination .page-item.active .page-link:hover {
      border-top: 2px solid orange;
      border-bottom: 2px solid orange;
    }
    
    .pagination .page-link:hover {
      color: rgb(104, 104, 104);
    }
    
    .pagination .page-link:focus {
      box-shadow: none;
    }
    
    .pagination .page-item:first-child .page-link,
    .pagination .page-item:last-child .page-link {
      border-radius: 0;
    }
    
    .pagination .page-item:first-child .page-link {
      margin-right: 5px;
    }
    
    .pagination .page-item:last-child .page-link {
      margin-left: 5px;
    }
  .dropdown-menu {
    left: 0;
  }
  
  /* Adjust position of dropdown menu */
  .dropdown-menu.show {
    left: -20px;
  }
  
  /* Pagination component styles */
  .pagination {
    margin-top: 20px;
  }
  
  .pagination .page-link {
    color: #000;
  }
  
  .page-nav {
    position: relative;
  }
  
  
  .dropbtn {
      background-color: #f6f6f6;
      color: black;
      font-size: 16px;
      font-weight: bold;
      padding: 3px;
      border: none;
      border-radius: 5px;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: absolute;
      display: inline-block;
      top : 0;
      left: 0;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 5px;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 5px;
      text-decoration: none;
      display: block;
    }
    
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
  
    .dropdown-content a:hover {
      background-color: rgb(255, 131, 7);
      color:rgb(255, 255, 255)
      }
    
    .dropbtn:hover {background-color: rgb(255, 131, 7);}
  
  
  