.res-button{
display: inline-block;
padding: 5px 10px;
font-size: 16px;
color: #000;
border: 1px solid #000; /* black border */
background-color: transparent;
text-align: center;
text-decoration: none;
transition: all 0.3s ease;
margin-top: 3px;
border-radius: 5px;

}

.res-button:hover {
background-color: rgb(255, 131, 7);
color: #fff;
}