.text{
font-size: 14px;
}
.listing_info{
display: grid;
background-color: brown;
}
.checked {
color: orange;
}
.hotel_grid{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 2.5rem;
overflow:hidden
}
.hotel_listing{
display: flex;
flex-direction: column;
align-items: center;
padding: 1rem;
background-color: #e6e3e3;
max-width: 750px;
height: 275px;
position: relative;
border-radius: 10px;
overflow: hidden;
}
.hotel_info {
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top: 40%;
}
.hotel-image{
height: 150px;
width: 100%;
object-fit: cover;
position: absolute;
top: 0;
left: 0;
}
.hotel-name {
font-size: 20px;
font-weight: bold;
text-decoration: underline;
text-align: center;
margin-bottom: 5px;
}
.hotel-rating{
font-size: 18px;
margin-top: 5px;
margin-bottom: 5px;
}
.book-btn{
background-color: #12bbe11b;
color: #00C2FF;
border: 1px solid #00C2FF;
border-radius: 10px;
padding: 1px 35px;
font-size: 20px;
}
.price-rating{
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top: 70%;
}

.inner-container {
margin-left: 20px;
margin-right: 20px;
}
.page-title {
font-size: 24px;
}

.justify-content-center
{
display: flex;
justify-content: right;
}
.pagination {
margin-top: 10px;
margin-bottom: 10px;
}

.pagination .page-link {
color: #000; /* Set text color to black */
}

.pagination .numbered:hover{
border-top: 2px solid rgb(26, 25, 25);
border-bottom: 2px solid rgb(9, 9, 9);
}

.pagination .page-item.disabled .page-link {
cursor: not-allowed;
}

.pagination .page-item.active .page-link {
color: orange;
}

.pagination .page-item.active .page-link:hover {
border-top: 2px solid orange;
border-bottom: 2px solid orange;
}

.pagination .page-link:hover {
color: rgb(104, 104, 104);
}

.pagination .page-link:focus {
box-shadow: none;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
border-radius: 0;
}

.pagination .page-item:first-child .page-link {
margin-right: 5px;
}

.pagination .page-item:last-child .page-link {
margin-left: 5px;
}
.dropdown-menu {
left: 0;
}

/* Adjust position of dropdown menu */
.dropdown-menu.show {
left: -20px;
}

/* Pagination component styles */
.pagination {
margin-top: 20px;
}

.pagination .page-link {
color: #000;
}

.page-nav {
position: relative;
}


.dropbtn {
background-color: #f6f6f6;
color: black;
font-size: 16px;
font-weight: bold;
padding: 3px;
border: none;
border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: absolute;
display: inline-block;
top : 0;
left: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #ffffff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 5px;
text-decoration: none;
display: block;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {
background-color: rgb(255, 131, 7);
color:rgb(255, 255, 255)
}

.dropbtn:hover {background-color: rgb(255, 131, 7);}


.modal {
display: none; 
position: fixed; 
z-index: 1; 
padding-top: 100px; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}

.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 500px;
}

.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.filter_btn{
position: absolute;
top: 0;
left: 28%;
background-color: #f6f6f6;
color: black;
font-size: 16px;
font-weight: bold;
padding: 3px;
border: none;
border-radius: 5px;
}

.filter_btn:hover{
background-color: rgb(255, 131, 7);
}
.filter-amentiies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}
.filter-rating{
    margin-bottom: 20px;
}

.filter-rating input {
    margin-top: 15px;
    margin-bottom: 0px;
    width:  350px;
}
.inner-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-item{
    margin-bottom: 10px;
}