{% extends 'secondarybase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="col-md-4 container" style="background-color: #f2f2f2; border-radius: 10px;  padding-bottom: 15px; margin-top: 10%;">
        <h2 class="text-center">Register</h1>

        {{ wtf.quick_form(form) }}
    </div>
    <style> 
    body:before {
    content: "";
    position: absolute;
    background: url("static/splash2.jpg") repeat 0 0;
    background-size: cover;
    height:100%;
    z-index: -2; /* Keep the background behind the all your content */  height: 20%; width: 20%; 

    transform: scale(5);
    transform-origin: top left;
    filter: blur(0.5px);
    }
    
    </style>
{% endblock %}