{% import 'bootstrap/wtf.html' as wtf %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sresults.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  </script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  </script>  
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
</head>

<body>
    <header>
        <div class="navigation">
            <a href="{{url_for('home')}}" id="website-name">Like<span style="color: rgb(255, 255, 0)">Home</span>
                <svg class="website-logo" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg></a>
            <nav>
                <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                {% if current_user.is_anonymous %}
                  <li><a href="{{url_for('login')}}">Login</a></li>
                {% else %}
                  <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                  <li><a href="{{url_for('logout')}}">Logout</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </header> 
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="flash" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class ="grid_container"> 
        <form id="search-form" method="post" action="">
            <div class ="form_grid">
                <div class="item1"> 
                <p style="display: inline; font-size: 16; margin-bottom: 0px; margin-top:0px; color: rgb(0, 0, 0);"> <b>Destination</b> </p> 
                {{form.location(id="tags")}}
                </div>

                <div class="item">
                <p style="display: inline; font-size: 16; margin-bottom: 0px; margin-top:0px; color: rgb(0, 0, 0);"> <b>Check In</b> </p>
                {{ form.hidden_tag() }}
                {{ form.check_in(class='datepickerf', placeholder='mm/dd/yyyy') }}
                </div>

                <div class="item">  
                <p style="display: inline; font-size: 16; margin-bottom: 0px; margin-top:0px; color: rgb(0, 0, 0);"> <b>Check Out</b> </p>
                {{ form.hidden_tag() }}
                {{ form.check_out(class='datepickerf', placeholder='mm/dd/yyyy') }}
                </div>

                <div class="item">  
                <p style="display: inline; font-size: 20; margin-bottom: 0px; margin-top:0px;"> &#8205; </p>
                {{form.submit(class='button')}}
                </div>  

            </div>
        </form>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <form id="filter-form" method="post" action="">
            <span class="close">&times;</span>
            <div class ="inner-modal"> 
                <h2>Filter Rating:</h2>
                <div class="filter-rating">
                    {{filter_form.min_rating.label}} <br>
                    {{ filter_form.min_rating(min =0 , max=5, oninput="outputUpdate1(value)") }}
                    <output for="rating" id="selected-rating1">{{ filter_form.min_rating.data }}</output>
                    <br>
                    {{filter_form.max_rating.label}} <br>
                    {{ filter_form.max_rating(min =0 , max=5, oninput="outputUpdate2(value)") }}
                    <output for="rating" id="selected-rating2">{{ filter_form.max_rating.data }}</output>
                </div>
                <h2>Filter Amenities:</h2>
                <div class="filter-amentiies">
                    <div class ="filter-item">{{filter_form.wifi}}{{filter_form.wifi.label}} </div>
                    <div class ="filter-item">{{filter_form.pool}}{{filter_form.pool.label}} </div>
                    <div class ="filter-item">{{filter_form.hot_tub}}{{filter_form.hot_tub.label}} </div>
                    <div class ="filter-item">{{filter_form.gym}}{{filter_form.gym.label}} </div>
                    <div class ="filter-item">{{filter_form.spa}}{{filter_form.spa.label}} </div>
                    <div class ="filter-item">{{filter_form.parking}}{{filter_form.parking.label}} </div>
                    <div class ="filter-item">{{filter_form.elevator}}{{filter_form.elevator.label}} </div>
                    <div class ="filter-item">{{filter_form.wheelchair}}{{filter_form.wheelchair.label}} </div>
                </div>
                <div class ="filter-btn"> {{filter_form.filter(class='button')}}</div>
            </div>
            </form>
        </div>
    </div>
    <div class="inner-container">
        {% if hotels %}
        <div class="page-title">
            <b>Hotels for You</b> - {{city}}
        </div>
        {% else %}
        {% endif %}
        <nav aria-label="Page navigation" class="page-nav" >
            {% if num_pages == 0 %}
            {% else %}
            <div class="dropdown">
                <button class="dropbtn">Sort By: Rating -{% if sort_option == 'hl'%} High to Low {% else %} Low to High{%endif%}</button>
                <div class="dropdown-content">
                    <a href=" {{url_for('sresults', page=current_page, sort='lh')}}">Rating - Low to High</a>
                    <a href=" {{url_for('sresults',  page=current_page, sort='hl')}}">Rating - High to Low</a>
                </div>
            </div> 
            <button class="filter_btn" id="myBtn">Filter By</button>
            <ul class="pagination justify-content-center">
                <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('sresults', page=current_page-1) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% for page in range(1, num_pages + 1) %}
                <li class="page-item {% if page == current_page %}active{% endif %}">
                    <a class="page-link numbered" href="{{ url_for('sresults', page=page) }}">{{ page }}</a>
                </li>
                {% endfor %}
                <li class="page-item {% if current_page == num_pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('sresults', page=current_page+1) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
            {% endif %}
        </nav>
        
          
        <div class="hotel_grid">
            {% if hotels %}
                {% for hotel in hotels %}
                    <div class="hotel_listing">
                        <img src="{{ url_for('static', filename= 'hotel-images/' + hotel[0].img1) }}" alt="Img not loaded" class="hotel-image">
                        <div class="hotel_info">
                            <h5 class="hotel-name">{{ hotel[0].name }}</h5>
                        </div> 
                        <div class="price-rating">
                            <span class="hotel-price">From <b>${{hotel[1].pricepn}}</b> per night</span>
                            <div class="hotel-rating">
                                <i style="font-size: 16px;">{{hotel[0].rating}}</i>
                                {% set rating = hotel[0].rating %}
                                {% for i in range(1, 6) %}
                                    {% if rating >= i %}
                                        <i class="fa fa-star checked"></i>
                                    {% elif (rating + 0.5) >= i %}
                                        <i class="fa fa-star-half-o checked"></i>
                                    {% else %}
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a href="{{ url_for('hotel', hotel_id=hotel[0].id) }}" class="book-btn" value="{{hotel[0].id}}">See Available Rooms</a> 
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2 style="text-align: center;">No Results Found</h2>
            {% endif %}
        </div>
        {% if num_pages == 0 %}
        {% else %}
        <nav aria-label="Page navigation" class="page-nav" >
            <ul class="pagination justify-content-center">
                <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('sresults', page=current_page-1) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% for page in range(1, num_pages + 1) %}
                <li class="page-item {% if page == current_page %}active{% endif %}">
                    <a class="page-link numbered" href="{{ url_for('sresults', page=page) }}">{{ page }}</a>
                </li>
                {% endfor %}
                <li class="page-item {% if current_page == num_pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('sresults', page=current_page+1) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        {% endif %}
    </div>
    <div class="section-divider"></div>
    <footer>
        <p>&copy; 2023 LikeHome. All rights reserved.</p>
    </footer>
  </div> <!-- End of .container -->

    <script>
        $( function() {
            var availableTags = [
                {% for city in cities %}
                    "{{city}}",
                {% endfor %}
            ];
            $( "#tags" ).autocomplete({
            minLength: 3,
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(availableTags, request.term);
                response(results.slice(0, 10));
            }
            });
        } );
    </script>
    <script>
        // Initialize Flatpickr
        flatpickr('.datepickerf', {
            altInput: true,
            altFormat: "m/j/Y",
            dateFormat: "Y-m-d",
            theme: 'light', // Set the theme to 'light'
            minDate: 'today', // Set the minimum date to today
            //set max date to 3 year from today
            maxDate: new Date().fp_incr(365*2)
        });

        var modal = document.getElementById("myModal");

        var btn = document.getElementById("myBtn");

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
        modal.style.display = "block";
        }

        span.onclick = function() {
        modal.style.display = "none";
        }

        window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
        }
        function outputUpdate1(rating) {
        document.querySelector('#selected-rating1').value = rating;
        }
        function outputUpdate2(rating) {
        document.querySelector('#selected-rating2').value = rating;
        }
    </script>
  

</body>

</html>
